@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

@mixin accent-font {
  font-family: "Bungee", cursive;
}

@mixin primary-font {
  font-family: "Red Hat Mono", monospace;
}

@mixin secondary-font {
  font-family: "Roboto", sans-serif;
}
