@import '../helpers/styles/index.scss';

.cities {
  .main {
    @include scroll-bar;
    overflow: auto;

    .city-card {
      @include center-v;
      .city-name {
        margin-bottom: 2rem;
      }

      .city-location {
        margin-bottom: 2rem;
        font-weight: 700;
        text-transform: uppercase;
      }

      .city-desc {
        width: 80%;
        margin-bottom: 8rem;
      }
    }
  }
}