@import '../helpers/styles/index.scss';

.cities {
  .main {
    @include scroll-bar;
    overflow: auto;

    .city-card {
      @include center-v;
      .city-name {
        margin-bottom: 2rem;
      }

      .city-carousel {
        width: 70vw;
        margin-bottom: 2rem;

        .css-1m9128y {
          button {
            margin-right: 0.5rem;
            margin-left: 0.5rem;
          }
        }

        .MuiButtonBase-root {
          background-color: $secondaryBackground;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .city-location {
        margin-bottom: 2rem;
        font-weight: 700;
        text-transform: uppercase;
      }

      .city-desc {
        width: 80%;
        margin-bottom: 8rem;
      }
    }
  }
}