@import '../helpers/styles/index.scss';
@import '../helpers/styles/colors.scss';

.contact {
  .main {
    overflow: auto;
    @include scroll-bar;
    
    form {
      @include center-v;
      align-items: flex-start;

      .form-inputs {
        margin-bottom: 8rem;
        width: 100%;
        font-size: 1.2rem;

        .input-fields {
          margin-top: 0.5rem;
          border: solid 0.2rem $secondaryText;
          border-radius: 0.5rem; 
          width: 100%;
          height: 100%;
          padding-left: 0.5rem;
          padding-top: 0.5rem;
          background-color: $background;
        }
        
      }

      .form-inputs:last-of-type {
        margin-bottom: 5rem;
      }

      .button-container {
        @include center-h;
        width: 100%;

        button {
          border-radius: 5rem;
          border: solid 0.2rem $gearBorder;
          width: 16rem;
          background-color: $gearBackground;
          font-size: 2rem;
          text-align: center;
          text-transform: uppercase;
          color: $background;
          &:hover {
            filter: drop-shadow($itemBoxHighlight40 0 0 1rem);
          }
        }
      }
    }
  }
}