@import '../helpers/styles';

.roles {
  .roles-main {
    color: $primaryText;
    height: auto;
    overflow: auto;
    @include scroll-bar;
  
    h2 {
      margin-top: 5rem;
      &:first-child {
        margin-top: 0;
      }
    }
  
  }
}
