@import "./helpers/styles";

.App {
  @include fillscreen-bottomless;
  background-color: $background;
}

.page {
  @include fillscreen-bottomless;
  display: grid;
  grid-template-columns: auto 5rem;
  grid-template-rows: 10rem auto 3rem;
  background: linear-gradient($backgroundFade75, $backgroundFade25),
    url("./assets/2022-03-07_23-40-08.png");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  box-shadow: inset black 0 0 10rem;
  @include small {
    grid-template-rows: 4rem auto 3rem;
  }
  
  .main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 5rem 0;
    grid-column: 1/3;
    grid-row: 2;
    width: 90%;
    max-height: calc(100vh - 14rem);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2rem;
    box-shadow: inset $shadow 0 0 2rem,
      $shadow 0 0 1rem;

    @include small {
      margin-top: 1rem;
      margin-right: 7rem;
      width: calc(90% - 3rem);
      max-height: calc(100vh - 10rem);
    }
  }
}
