@import './helpers/styles';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  @include primary-font;
}

body {
  background-color: $background;
}

a {
  outline: none;
  text-decoration: none;
}
