@import "../helpers/styles";

.header {
  @include center-h;
  filter: drop-shadow($disabledText 0 0 2rem);

  .hotbar {
    @include center-h;
    margin-top: 5rem;
    padding: 0.75rem 1.75rem;
    background-color: $hotbarBackground;
    border: $hotbarBorder solid 0.4rem;

    .header-logo {
      min-height: 1.5rem;
      min-width: 1.5rem;
      margin: -7rem -10rem -8.5rem -7.5rem;
    }

    .logo-text {
      @include accent-font;
      color: $itemBoxHighlight;
      font-size: 6rem;
      text-shadow: $background -0.5rem 0.5rem 0.2rem;
      margin: -2rem 5rem -2rem 0;
    }

    .hotbar-button {
      position: relative;
      @include center-v;
      padding: 1rem;
      margin: 0 0.2rem;
      max-height: 6rem;
      max-width: 6rem;
      min-height: 6rem;
      min-width: 6rem;
      background-color: $itemBoxBackground;
      border: $hotbarBorder solid 0.4rem;
      cursor: pointer;

      .icon-tooltip {
        filter: opacity(0%);
      }

      &:hover {
        box-shadow: inset $itemBoxHighlight 0 0 1.5rem,
          $itemBoxHighlight 0 0 1rem;
        border: $itemBoxHighlight solid 0.4rem;

        .icon-tooltip {
          width: 6rem;
          padding: 0.25rem;
          margin-bottom: -7.75rem;
          background-color: $itemBoxHighlight;
          box-shadow: $itemBoxHighlight 0 0 1rem;
          color: white;
          filter: opacity(100%);
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
          font-size: 1.2rem;
          text-align: center;
          text-transform: uppercase;
          z-index: 1;
        }
      }

      .nav-icon {
        position: absolute;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        max-height: 4rem;
        max-width: 4rem;
        min-height: 4rem;
        min-width: 4rem;
        filter: drop-shadow($shadow 0 0 3px);
        z-index: 2;
      }
    }

    .nav-spacer {
      width: 10rem;
    }
  }
}
