@import '../variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.message-banner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	padding: 1rem 3rem 1rem 3rem;
	background-color: rgba(0, 0, 255, 0.4);

	p {
		color: white;
		font-family: 'Press Start 2P', cursive;
		font-size: 6vw;
		line-height: 200%;
		text-align: center;
	}
}
