@import '../helpers/styles/';

.rule-card {
  @include center-v;
  padding: 2rem;
  width: 80%;
  min-width: 70vw;
  margin-bottom: 2rem;

  .rule-header {
    @include center-h;
    justify-content: left;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    min-width: 70vw;
    border-bottom: solid $primaryText 1px;
    
    h4 {
      font-size: 1.8rem;
      text-align: start;
      text-transform: uppercase;
      filter: drop-shadow($shadow 0 0 1px);
      width: 100%;
      margin-right: 2rem;
    }

    .section-toggle-button {
      @include blank-button;

      .arrow-icon {
        height: 1.8rem;
      }
    }

    .open-contents {
      transform: rotate(270deg);
    }

    .closed-contents {
      transform: rotate(90deg);
    }
  }
  
  

  .content-text {
    p {
      margin-bottom: 1rem;
      font-size: 1.4rem;
      text-align: justify;
    }
  }
}
