@import '../helpers/styles/';

.shop-card {
  @include center-v;
  .shop-name {
    margin-bottom: 2rem;
  }

  .shop-carousel {
    width: 70vw;
    margin-bottom: 2rem;

    .css-1m9128y {
      button {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
      }
    }

    .MuiButtonBase-root {
      background-color: $secondaryBackground;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .shop-location {
    margin-bottom: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .shop-desc {
    width: 80%;
    margin-bottom: 8rem;
  }
}
